
@{
    ViewData["Title"] = "View";
}

<h2 style="text-align: center; color: white">Selecione um oponente</h2>

<div class="col-3">
    <div class="card">
        <img src="https://d.newsweek.com/en/full/1514725/pokemon-masters-release-date-pikachu.jpg?w=1600&h=1600&q=88&f=5f18693cba9345a90927f205fbfb224a" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Oponente 1</h5>

            <button type="submit" onclick="location.href='@Url.Action("Index", "Battle")'" class="btn btn-primary">
                Selecionar
            </button>
        </div>
    </div>
</div>

<style>
    body {
            background-image: linear-gradient(red,black,white);
        }
    .card-body {
    background-color:#271C2B;
    }
    .card-body button {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        border-right: none !important;
        border-left: none !important;
        border-radius: 0;
        font-weight: 500;
    }
        .card-body button:hover {
        background-color: black;
        color: white;
        border-color: red;
        }
    h5 {
        border-right: none !important;
        border-left: none !important;
        color: white;
    }
    </style>